<ul>
    <li>
        <a href="#" class="men">Budi</a>
        <ul>
            <li>
                <a href="#" class="men">Dedi</a>
                <ul>
                    <li><a href="#" class="men">Feri</a></li>
                    <li><a href="#" class="women">Farah</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="men">Dodi</a>
                <ul>
                    <li><a href="#" class="men">Gugus</a></li>
                    <li><a href="#" class="men">Gandi</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="men">Dede</a>
                <ul>
                    <li><a href="#" class="women">Hani</a></li>
                    <li><a href="#" class="women">Hana</a></li>
                </ul>
            </li>
            <li><a href="#" class="women">Dewi</a></li>
        </ul>
    </li>
</ul>
